body{
	background-image: url(food.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
}

table {
	font: 75%/1.6 "Myriad Pro", Frutiger, "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
	border-collapse: collapse;
	width: 50em;
	border: 1px solid #666;
    margin-left: 40%;
    margin-top: 5%;
}

thead {
	background: #ccc url(https://www.devfuria.com.br/html-css/tabelas/bar.gif) repeat-x left center;
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
}

tr:nth-child(even) {
    background-color: #edf5ff;
}

th {
	font-weight: normal;
	text-align: left;
}

th, td {
	padding: 0.1em 1em;
}

tbody {
	background-color: #fff;
}

img{
	width: 20px;
	height: 20px;
}

h1{
	color: #fff;
	margin-top: 100px;
	margin-left: 750px;
}