body {
	font-family: sans-serif;
}

#all {
	height: 29.4vw;
}
/*DIV FORNECEDORES*/
#fornecedores{
	margin-top: 0.2vw;
	display: inline-block;
	width: 100%;
}

#fornecedores img{
	margin-left: 0.01%;
	width: 49.8%;
	border-radius: 4px;
}

#img-quick {
	float: right;
}
a {
	color: black;
}

.redes {
	margin-top: -6vw;
	position: absolute;
	border-radius: 1.6vw;
	width: 4vw;
}

#insta {
	margin-left: 45%;
}

#insta2 {
	margin-left: 51%;
}

@media screen and (max-width: 800px) {
	#fornecedores img{
		width: 100%;
	}
	#img-quick  {
		margin-top: 1vw;
		float: none;
	}
	#fornecedores {
		padding: 0vw 0vw 0vw 2.5vw;
    	width: 95%;
	}
}