@charset "UTF-8";

@font-face {
     font-family: "qanelas";
     src: url('../../fontes/qanelas-bold.otf');
}

@font-face { 
     font-family: "opensansregular";
     src: url('../../fontes/OpenSansRegular.ttf');
}

@media screen and (min-width: 960px) {
	/*LOCALIZAÇÃO*/
	.localização {
		background-image: url(../../img/degrade.png);
		background-size: 100%;
		background-repeat: no-repeat;
		height: 26vw;
	}
	.h2 {
		font-family: "qanelas";
		font-size: 2vw;
	}
	.p {
		font-family: "opensansregular";
		color: white;
		font-size: 1.5vw;
	}
	.localização iframe {
		margin-left: 45vw;
		margin-top: 2vw;
		width: 42vw;
		height: 22vw;
	}

	.localização h2 {
		color: yellow;
	}

	#informações {
		position: absolute;
		margin-left: 10vw;
		margin-top: 6vw;
	}

	/*MENU DE BAIXO*/
	.menu_baixo {
		display: inline-block;
		background-color: rgb(25, 89, 161);
		width: 100%;
		height: 8vw;
	}

	.menu_baixo img {
		position: absolute;
	    width: 6.5vw;
	    height: 6.5vw;
	    margin-top: -1.5vw;
		margin-left: 3vw;
	}

	.menu_baixo li {
		display: inline-block;
		margin-left: 6.5vw;
		font-size: 1.2vw;
		color: white;
	}

	#img_menu_baixo {
		margin-top: 2.5vw;
		margin-left: 16vw;
	}

	.menu_baixo_li {
		font-family: "qanelas";
		margin-left: 21vw;
		margin-top: 3.5vw;
	}

	#barra2 {
	    width: 100%;
	    height: 1vw;
	    background-image: url(../../img/barra.png);
	    background-size: 100%;
	}
}

@media screen and (max-width: 959px) {
	/*LOCALIZAÇÃO*/
	.localização {
	    background-image: url(../../img/degrade.png);
	    background-size: 160%;
	    background-repeat: no-repeat;
	    height: 35vw;
	    padding: 5vw 0vw 0vw 19vw;
	}
	.h2 {
		font-family: "qanelas";
		font-size: 4vw;
	}
	.p {
		font-family: "opensansregular";
		color: white;
		font-size: 3.2vw;
	}
	.localização iframe {
		display: none;
	}

	.localização h2 {
		color: yellow;
	}

	/*MENU DE BAIXO*/
	.menu_baixo {
		display: inline-block;
		background-color: rgb(25, 89, 161);
		width: 100%;
		height: 8vw;
	}

	.menu_baixo img {
		position: absolute;
	    width: 6.5vw;
	    height: 6.5vw;
	    margin-top: -1.5vw;
		margin-left: -9vw;
	}

	.menu_baixo li {
		display: inline-block;
		margin-left: 5vw;
		font-size: 1.8vw;
		color: white;
	}

	#img_menu_baixo {
		margin-top: 2.5vw;
		margin-left: 16vw;
	}

	.menu_baixo_li {
		font-family: "qanelas";
		margin-left: 14vw;
		margin-top: 2.5vw;
	}

	#barra2 {
	    width: 100%;
	    height: 1vw;
	    background-image: url(../../img/barra.png);
	    background-size: 100%;
	}
}
@media screen and (max-width: 480px) {
	.menu_baixo_li {
	    margin-top: -2.5vw;
	}
	.menu_baixo li {
		font-size: 2vw;
	}
}
@media screen and (max-width: 300px) {
	.menu_baixo_li {
	    margin-top: -3.5vw;
	}
}